.root {
}

.Container {
  width: auto;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(252, 243, 231);
  /* cursor: none; */
}

.Platform {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  display: block;
  bottom: 0px;
  width: 50px;
  height: fit-content;
  /* background-color: aqua; */
  transform: translate(-18px, 0);
}

.Gun {
  user-select: none;
  -webkit-user-drag: none;
  position: inherit;
  opacity: 0;
  display: block;
  width: 5px;
  height: 8px;
  border-radius: 25%;
  background-color: chocolate;
  left: calc(50% - 2.5px);
  transform: translate(18px, -70px);
}

.Round {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  width: 3px;
  height: 15px;
  border-radius: 25%;
  background-color: red;
  transform: translate(0px, 30px);
  animation: Pulse;
  animation-duration: 225ms;
  animation-iteration-count: infinite;
}

.rocket {
  user-select: none;
  -webkit-user-drag: none;
  height: 30px;
  transform: translate(-12px, -37px);
  z-index: 1000;
}

@keyframes Pulse {
  0% {
    opacity: 1;
    box-shadow: 0 10px 5px 2px rgb(224, 156, 8), 0 0 2px 1px rgb(86, 0, 17);
  }

  25% {
    box-shadow: 0 10px 7px 2px rgb(178, 127, 18), 0 0 2px 1px rgb(86, 0, 17);
  }

  50% {
    box-shadow: 0 10px 8px 2px rgb(185, 111, 14), 0 0 2px 1px rgb(86, 0, 17);
  }

  75% {
    box-shadow: 0 10px 7px 2px rgb(201, 80, 14), 0 0 2px 1px rgb(86, 0, 17);
  }

  100% {
    box-shadow: 0 10px 5px 2px rgb(224, 156, 8), 0 0 2px 1px rgb(86, 0, 17);
  }
}

.destruction {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  animation: destruction;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  border-radius: 50%;
}

@keyframes destruction {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 5px 10px rgb(240, 6, 41);
  }

  25% {
    transform: scale(1);
    box-shadow: 0 0 10px 20px rgb(224, 156, 8);
  }

  50% {
    transform: scale(0.8);
    box-shadow: 0 0 15px 30px rgb(224, 156, 8);
  }

  75% {
    transform: scale(0.4);
    box-shadow: 0 0 5px 10px rgb(224, 156, 8);
  }

  100% {
    transform: scale(0.2);
    box-shadow: 0 0 3px 5px rgb(224, 156, 8);
  }
  
}

.shot {
  user-select: none;
  -webkit-user-drag: none;
  opacity: 1;
  animation: shot;
  animation-duration: 100ms;
  animation-iteration-count: 1;
}

@keyframes shot {
  0% {
    box-shadow: 0 0px 2px 4px rgb(240, 6, 41);
  }

  25% {
    box-shadow: 0 0px 4px 8px rgb(224, 156, 8);
  }

  50% {
    box-shadow: 0 0px 4px 10px rgb(224, 156, 8);
  }

  75% {
    box-shadow: 0 0px 2px 4px rgb(224, 156, 8);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(224, 156, 8);
  }
  
}

.Plate {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
}

.Direction1 {
  transform: scaleX(-1);
}

.parachute {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
}

.score {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
  font-size: 14px;
  height: fit-content;
  padding: 5px;
  color: blue;
}

.Missile {
  position: absolute;
  display: block;
  box-shadow: 5px rgb(240, 6, 41);
  height: 15px;
  width: 5px;
}